/* Theme color #F5A623 */

/* navigator */
/* #fp-nav ul li a span { */
/*   background-color: #F5A623 !important; */
/* } */

.section {
  overflow: hidden;
}

.container {
  display: grid;
  height: 85vh;
  width: 80vw;
  margin: 0 auto;
  color: #333;
  font-family: 'Rubik', sans-serif;
}

/* intro section */
.intro {
  grid-template-columns: 50% 20% 10% 20%;
  grid-template-rows: 10% 10% 50% 10% 10% 10%;
  justify-items: center;
}

.intro .decorater-one {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100px;
  height: 100px;
  background: #F5A623;
  border-radius: 50%;
  margin: 50px 0 0 50px;
}

.intro .decorater-two {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  width: 151px;
  height: 151px;
  border: 1px solid #F5A623;
  border-radius: 50%;
  margin: -70px 0 0 -150px;
}

.intro .selfie {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 6;
  filter: sepia(.5);
  overflow: hidden;
  padding: 10px;
}

.intro .selfie img {
  /* width: 60%; */
  height: 100%;
}

.intro .quote {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.4em;
  padding: 10px;
}

.intro .profile {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  text-align: right;
  font-size: .9em;
  padding: 10px;
}

/* foodudes section */
.foodudes {
  grid-template-columns: 20% 5% 5% 25% 10% 25% 10%;
  grid-template-rows: 25% 25% 25% 25%;
}

.foodudes .decorater-one {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 300px;
  height: 2000px;
  background: #F5A623;
  /* border: 50px solid #F5A623; */
  /* border-radius: 50%; */
  margin: -100px 0 0 -100px;
}

.foodudes .paragraph {
  text-align: justify;
  font-size: .9vw;
  padding: 5px;
  /* color: #F5A623; */
}

.foodudes .paragraph.reveal {
  transform: translateY(50px);
  opacity: 0;
  transition: opacity .5s, transform .5s;
  transition-delay: .8s;
}

.section.active .foodudes .paragraph.reveal {
  transform: translateY(0);
  opacity: 1;
}

.foodudes .paragraph-one {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.foodudes .paragraph-two {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.foodudes .paragraph-three {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.foodudes .paragraph-four {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

.foodudes .website {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
}

.foodudes .website.reveal {
  transform: translateX(-50px);
  opacity: 0;
  transition: opacity .5s, transform .5s;
  transition-delay: 1s;
}

.section.active .foodudes .website.reveal {
  transform: translateX(0);
  opacity: 1;
}

.foodudes .website img {
  width: 100%;
}

.foodudes .ipad {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 4;
  padding-top: 50px;
}

.foodudes .ipad.reveal {
  transform: translateX(50px);
  opacity: 0;
  transition: opacity .5s, transform .5s;
  transition-delay: 1.2s;
}

.section.active .foodudes .ipad.reveal {
  transform: translateX(0);
  opacity: 1;
}

.foodudes .ipad img {
  width: 100%;
}

.foodudes .iphoneX {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
}

.foodudes .iphoneX.reveal {
  transform: translateY(50px);
  opacity: 0;
  transition: opacity .5s, transform .5s;
  transition-delay: 1.4s;
}

.section.active .foodudes .iphoneX.reveal {
  transform: translateY(0);
  opacity: 1;
}

.foodudes .iphoneX img {
  width: 130%;
}

/* icook section */
.icook {
  grid-template-columns: 60% 4% 18% 18%;
  grid-template-rows: 20% 13% 33% 34%;
}

.icook .MBPr {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.icook .MBPr.reveal {
  transform: translateX(-50px);
  opacity: 0;
  transition: opacity .5s, transform .5s;
  transition-delay: .8s;
}

.section.active .icook .MBPr.reveal {
  transform: translateX(0);
  opacity: 1;
}

.icook .MBPr img {
  width: 80%;
}

.icook .paragraph {
  text-align: justify;
  font-size: .9vw;
  padding: 5px;
}

.icook .paragraph.reveal {
  transform: translateY(50px);
  opacity: 0;
  transition: opacity .5s, transform .5s;
  transition-delay: 1s;
}

.section.active .icook .paragraph.reveal {
  transform: translateY(0);
  opacity: 1;
}

.icook .paragraph-one {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.icook .paragraph-two {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

.icook .paragraph-three {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

.icook .decorater-one {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 100%;
  height: 100%;
  background: #F5A623;
  border-radius: 3px;
  margin: 60px 0 0 100px;
}

.icook .decorater-two {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  width: 100%;
  height: 160%;
  background: #F5A623;
  border-radius: 3px;
  margin: -120px 0 0 60px;
}

.icook .decorater-three {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  width: 150%;
  height: 80%;
  background: #F5A623;
  border-radius: 3px;
  margin: -50px 0 0 50px;
}

.end {
  grid-template-columns: 40% 30% 30%;
  grid-template-rows: 30% 30% 40%;
  align-items: end;
}

.end .quote {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.4em;
  padding: 50px 0;
}

.end .quote.reveal {
  transform: translateX(-30px);
  opacity: 0;
  transition: opacity .5s, transform .5s;
  transition-delay: .8s;
}

.section.active .end .quote.reveal {
  transform: translateX(0);
  opacity: 1;
}

.end .mates {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  filter: sepia(.5);
}

.end .mates.reveal {
  transform: translateX(-30px);
  opacity: 0;
  transition: opacity .5s, transform .5s;
  transition-delay: .8s;
}

.section.active .end .mates.reveal {
  transform: translateX(0);
  opacity: 1;
}

.end .mates img {
  width: 100%;
}

.end .contact {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 10px;
  color: #F5A623;
}

.end .contact.reveal {
  transform: translateY(30px);
  opacity: 0;
  transition: opacity .5s, transform .5s;
  transition-delay: 1s;
}

.section.active .end .contact.reveal {
  transform: translateY(0);
  opacity: 1;
}

.end .contact span {
  color: #333;
}

.end .decorater-one {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  width: 3000px;
  height: 500px;
  background: #F5A623;
  margin: 0 0 50px -1000px;
}
