body {
  background: #233658;
}

.container {
  display: grid;
  height: 85vh;
  width: 80vw;
  margin: 0 auto;
  color: #333;
  font-family: 'Rubik', sans-serif;
}

.oops {
  width: 50vw;
  margin: 0 auto;
  text-align: center;
  padding-top: 5vh;
}

.forest {
  width: 100vw;
  height: 240px;
  background-repeat: repeat-x;
}

.forest-back {
  background-image: url('../images/nosupport/tree-dark.png');
  margin-left: -25vw;
}

.forest-front {
  background-image: url('../images/nosupport/tree-light.png');
  margin: -150px 0 0 -23vw;
}

.oops img {
  width: 50%;
}

.oops p {
  color: #bbb;
  text-align: center;
  font-size: 2.5vw;
  padding-top: 15vh;
}

